
.footer_container {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}